body {
  background-image: url("../Images/background-image.jpg");
  background-size: cover;
}
h1 {
  font-family:sans-serif;
  text-align:center;
  font-weight:bold;
}
h2 {
  font-family:sans-serif;
  text-align:center;
  font-weight:bold;
  font-style: italic;
}
div.center {
    height: 10em;
    position: relative
    margin: 0;
    background: #9ACD32;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }
.center {
    line-height: 200px;
    height: 200px;
    text-align: center;
    line-height:10;
}
div.center {
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
}


.ticket-wording {
  font-family:sans-serif;
  text-align:center;
  padding-top: 50px;
}

.ticket-form {
  text-align:center;
  font-family:sans-serif;
}

.my-nav {
  opacity: 0.5
}

.col-8 {
  text-align:center;
  padding-top: 50px;
  margin:auto;

}

.btn-default {
    background: #9ACD32;
    color: #fff;
}

.container1 {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Set a specific color for each brand */

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.socialmedia {
    position: fixed;
    bottom: 0;
    left: 0;
}
  <iframe align="middle">
