body {
   background-image: url("../Images/background-image.jpg");
}

h1 {
  font-family:sans-serif;
  text-align:center;
  font-weight:bold;
}

p {
  font-family:sans-serif;
  text-align:center;
}

form {
  text-align:center;
  font-family:sans-serif;
}
