body {
   background-image: url("../Images/background-image.jpg");
  background-color: #cccccc;
}

h1 {
  font-family:sans-serif;
  text-align:center;
  font-weight:bold;
}

.ticket-wording {
  font-family:sans-serif;
  text-align:center;
  padding-top: 50px;
}

.ticket-form {
  text-align:center;
  font-family:sans-serif;
}

.my-nav {
  opacity: 0.5
}

.col-8 {
  text-align:center;
  padding-top: 50px;
  margin:auto;

}
